<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Title</key>
            <string>General</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Theme</string>
            <key>Key</key>
            <string>theme</string>
            <key>DefaultValue</key>
            <integer>1</integer>
            <key>Values</key>
            <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
            </array>
            <key>Titles</key>
            <array>
                <string>Dark</string>
                <string>Grey</string>
                <string>Light</string>
            </array>
        </dict>
        <dict>
            <key>Title</key>
            <string>About</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>IASKLogo</string>
            <key>Title</key>
            <string>Prepro</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>v1.2.1</string>
            <key>Key</key>
            <string>version</string>
            <key>Title</key>
            <string>Prepro</string>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>Dean Uzzell and James Campbell</string>
            <key>Key</key>
            <string>copyright</string>
            <key>Title</key>
            <string>Copyright</string>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
        </dict>
        <dict>
            <key>File</key>
            <string>changelog.html</string>
            <key>IASKViewControllerClass</key>
            <string>IASKAppSettingsWebViewController</string>
            <key>IASKViewControllerSelector</key>
            <string>initWithFile:key:</string>
            <key>Title</key>
            <string>Changelog</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>General</string>
</dict>
</plist>
