<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Key</key>
            <string>IASKLogo</string>
            <key>Title</key>
            <string></string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>File</key>
            <string>changelog.html</string>
            <key>IASKViewControllerClass</key>
            <string>IASKAppSettingsWebViewController</string>
            <key>IASKViewControllerSelector</key>
            <string>initWithFile:key:</string>
            <key>Title</key>
            <string>Changelog</string>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>General</string>
</dict>
</plist>
