<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Gestures</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Pinch/Pull To Create Documents</string>
            <key>Key</key>
            <string>pinchPullToCreateGesture</string>
            <key>DefaultValue</key>
            <true/>
		</dict>
        <dict>
			<key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Press And Hold To Rearrange</string>
            <key>Key</key>
            <string>pressAndHoldToRearrange</string>
            <key>DefaultValue</key>
            <true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>IASKLogo</string>
			<key>Title</key>
			<string>Prepro</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>v1.2.1</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Prepro</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Dean Uzzell and James Campbell</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Changelog/changelog.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>Title</key>
			<string>Changelog</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
        <dict>
            <key>File</key>
			<string>https://www.twitter.com/preproapp</string>
            <key>Type</key>
            <string>IASKOpenURLSpecifier</string>
            <key>Key</key>
            <string>twitter</string>
            <key>Title</key>
            <string>Twitter</string>
            <key>IASKCellImage</key>
            <string>twitter</string>
        </dict>
        <dict>
            <key>File</key>
			<string>https://www.facebook.com/preproapp</string>
            <key>Type</key>
            <string>IASKOpenURLSpecifier</string>
            <key>Key</key>
            <string>facebook</string>
            <key>Title</key>
            <string>Facebook</string>
            <key>IASKCellImage</key>
            <string>facebook</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>General</string>
</dict>
</plist>
